@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.font-mono {
  font-family: var(--font-geist-mono);
}

.font-sans {
  font-family: var(--font-geist-sans);
}